<div class="createaccountbackground"></div>
    <div class="createaccount">
        <h1>Tidy_app ログイン</h1>
        <% if @error_message %>
        <div class="error-message">
            <%= @error_message %>
        </div>
        <% end%>
        <%= form_tag("/login") do %>
        <div class="inputname">
            <input type="text" name="name" placeholder="Name">
        </div>
        <div class="inputpassword">
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="submitaccount">
            <input type="submit" value="登録">

        <% end %>
        </div>
    </div>
