<div class="wrapper_1">
                <div class="aboveposts">
                    <h2>役に立つページ</h2>
                   <p><a href="/posts/usefulbedit">
                編集する</a> </p>
                </div>
                <a href="/"><div class="newfix">
                    <p>新規投稿</p>
                </div></a>
                
                <div class="posts">
                
                
                
                    <% @posts.each do |post| %>
                        
                    <a href="<%= post.url%>" target="_blank">
                    <div class="posts-index-item">
                        <p class="post-contents"><%= post.content%></p>
                    
                        <p class="post-select"><%= post.select %><p>
                    </div>
                    </a>

                    <%end %>
                </div>
                
                    
                </div>
            </div>
</html>
