<!DOCTYPE html>
<html　lang="ja">
  <head>
    <title>TidyApp</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <div class="header">
      <a href="/"><div class="logo"><h2>Tidy_app</h2></div></a>
      <div class="user">
          <a href ="/posts/index"><div class="post">投稿一覧</div></a>
          <div class="new">新規登録</div>
          <div class="login">ログイン</div>
      </div>
  </div>
  </header>
  
 <%= yield%>

